<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<ul class="nav nav-tabs ">
  <li role="presentation" class="active"><a id="bloom-overview" class="fo-area-selection" >All</a></li>
  <li role="presentation" class="dropdown" ng-repeat="(fo_name, areas) in fo" on-finish-render="ngRepeatFinished">
    <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
      {{fo_name}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    	<li ><a class="fo-area-selection" id="fo-{{fo_name}}">All</a></li>
    	<li role="separator" class="divider"></li>
      <li ng-repeat="area in areas"><a id="{{area}}" class="fo-area-selection" >{{area}}</a></li>
    </ul>
</ul>

<div class="row">
  	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Overview Chart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div google-chart chart="overviewChartObject" style="{{cssStyle}}"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<div class="row">
  	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Uplifter Retention Chart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div google-chart chart="ulRententionChartObject" style="{{cssStyle}}"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<div class="row">
  	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Stockpoint Retention Chart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div google-chart chart="spRetentionChartObject" style="{{cssStyle}}"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

