<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Recruitment Charts (MTD)<small> {{fo_name}},{{area}}</small></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<ul class="nav nav-tabs ">
<li role="presentation"  ><a id="bloom-overview" class="fo-area-selection" role="button">Overall</a></li>
  <li role="presentation" class="dropdown" id="{{fo_name}}-tab" ng-repeat="(fo_name, areas) in fo" on-finish-render="ngRepeatFinished">
    <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
      {{fo_name}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ><a class="fo-area-selection" id="fo-{{fo_name}}" role="button">Overall</a></li>
        <li role="separator" class="divider"></li>
      <li ng-repeat="area in areas"><a role="button" id="{{fo_name}}-{{area}}" class="fo-area-selection" >{{area}}</a></li>
    </ul>
</ul>

<div class="row">
  	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{area}} Recruitment (MTD) 
            </div>
            <div class="panel-body" id="recruitment-mtd">
                <div google-chart chart="overviewChartObject" style="{{cssStyle}}" agc-on-ready="readyHandler(chartWrapper,'recruitment-mtd')"></div>
            </div>
        </div>
    </div>
     <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{area}} Uplifter Overview Chart</div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="ulOverviewChartObject">
                <div google-chart chart="ulOverviewChartObject" style="{{cssStyle}}" agc-on-ready="readyHandler(chartWrapper,'ulOverviewChartObject')"></div>
            </div>
        </div>
     </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{area}} Stockpoint Overview Chart</div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="spOverviewChartObject">
                <div google-chart chart="spOverviewChartObject" style="{{cssStyle}}" agc-on-ready="readyHandler(chartWrapper,'spOverviewChartObject')"></div>
            </div>
        </div>
   </div>
</div>