{% extends 'projectbloom/website-base.html' %}

{% load staticfiles %}
{% load app_filters %}

{% block content %}
 <body ng-app="dashboardApp">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home_page' %}">Project Bloom<small> - Welcome, {{user.get_username}}</small></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a role="button"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li> -->
                        {% if request.user|has_group:"admin" %}
                        <li><a href="/admin" role="button"><i class="fa fa-gear fa-fw"></i> Admin</a>
                        </li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="/logout" role="button"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {% if request.user|has_group:"guest" %}
                        <li>
                            <a href='#'><i class="fa fa-dashboard fa-fw"></i> Dashboard - Monthly<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/dashboard_monthly/kpi">KPIs</a>
                                </li>
                                <li>
                                    <a href="#/dashboard_monthly/add">Additional Analysis</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endif %}
                        {% if request.user|has_group:"bloomteam" %}
                        <li>
                            <a href="#/dashboard_shareout"><i class="fa fa-dashboard fa-fw"></i> Dashboard - Shareout</a>
                        </li>
                        <!-- <li>
                            <a href="#/dashboard_sp"><i class="fa fa-dashboard fa-fw"></i> Dashboard - Stockpoint</a>
                        </li> -->
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-list-alt fa-fw"></i> Operations<span class="fa arrow"></a>
                            <ul class="nav nav-second-level">
                            <li><a href='#/mtd_recruitment_chart'>Recruitment Chart(MTD)</a></li>
                            <li><a href='#/op_report'>Operation Reports</a></li>
                            <li>
                                <a href='#'>Operation Tables<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#/pivot/sp_products_sold">SP Products Sold</a>
                                    </li>
                                    <li>
                                        <a href="#/pivot/ul_days_worked">UL Days Worked</a>
                                    </li>
                                    <li>
                                        <a href="#/pivot/ul_income">UL Income</a>
                                    </li>
                                    <li>
                                        <a href="#/pivot/sp_income">SP Income</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href='#'>Data<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#/data/entrepreneur">Entrepreneur</a>
                                    </li>
                                    <li>
                                        <a href="#/data/sale">Sale</a>
                                    </li>
                                    <li>
                                        <a href="#/data/delivery">Delivery</a>
                                    </li>
                                    <li>
                                        <a href="#/data/product">Product</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            </ul>
                        </li>



                       <!--  <li>
                            <a href="#/survey"><i class="fa fa-bar-chart-o fa-fw"></i> Survey</a>
                        </li>
                        <li>
                            <a href="#/form"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li> -->
                        <li>
                            <a href="#/export"><i class="glyphicon glyphicon-export fa-fw"></i> Export</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">

            <!-- Container for Child Template, rendered by Angular jS -->
            <div class="container-fluid" ng-view>

			</div>
            
        </div>
        <!-- /#page-wrapper -->

    </div>

</body>
{% endblock content %}

{% block extrastyles %}
    <!--Bootstrap Bootstrap Datepicker CSS-->
    <link href="{% static 'dashboard/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!--Custom CSS-->
    <link href="{% static 'dashboard/css/app.css' %}" rel="stylesheet">
{% endblock extrastyles %}

{% block extrascripts %}
    <!-- JavaScript For Angular JS  -->
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>

    <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>

    <!--<script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>

    <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>-->

    <!-- Angular Google Charts -->
    <script src="{% static 'bower_components/angular-google-chart/ng-google-chart.js' %}"></script>

    <!-- JavaScript For Moment -->
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>

    <!--JavaScript For Bootstrap Paginator-->
    <script src="{% static 'dashboard/js/bootstrap-paginator.min.js' %}"></script>

    <!--JavaScript For Bootstrap Datepicker-->
    <script src="{% static 'dashboard/js/bootstrap-datepicker.min.js' %}"></script>
    
    <!-- JavaScript For Dashboard JavaScript Application -->
    <script src="{% static 'dashboard/js/app.js' %}"></script>

    <script src="{% static 'dashboard/js/controllers.js' %}"></script>
{% endblock extrascripts %}
